[Unit]
Description=Prefect Server UI
After=network.target mysql.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/briean/health_stats
ExecStart=/usr/local/bin/prefect server start --host 0.0.0.0 --port 4200
Restart=always
RestartSec=10
Environment=PREFECT_API_DATABASE_CONNECTION_URL=sqlite+aiosqlite:////home/briean/health_stats/prefect.db
Environment=PREFECT_API_URL=http://146.148.87.26:4200/api

[Install]
WantedBy=multi-user.target
